/* All file css*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Mulish', sans-serif;
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
    padding: 14px 24px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

img{
    max-width: 100%;
    height: auto;
}

/* Header section css start*/

/* Nav section*/
header{
    width: 100%;
    padding: 20px 0px;
}

.nav-content{
    display: flex;
}

.nav-left{
    display: flex;
    width: 50%;
    align-items: center;
}

.nav-left img{
    max-width: 100%;
    height: auto;
}

.nav-left h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 20px;
}

.nav-left h2 span{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-right{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.nav-right ul{
   display: flex;
}

.nav-right ul li{
    list-style: none;
}

.nav-right ul li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
    margin-left: 2.8rem;
    transition: 0.3s;
}

.nav-right ul li a:hover{
    color: #FF5400;
    transition: 0.3s;
}


/* Banner section*/

.banner{
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url(../images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content{
    width: 60%;
}

.banner-content .banner-desc{
    text-align: center;
}

.banner-content .banner-desc h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-content .banner-desc p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 24px 0px;
}

.banner-content .banner-form{
    text-align: center;
}

.banner-content .banner-form form select{
    padding: 16px 26px;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
}

.banner-content .banner-form{
    text-align: center;
}



/* Header section css end*/



/* Main section css start*/



/* popular-tour section css start*/

.popular-tour{
    width: 100%;
    padding: 50px 0px;
}

.popular-content{ 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

.popular-left{

}

.popular-left h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-left p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 18px 0px;
}

.popular-left ol{
    padding: 0px 32px;
}

.popular-left ol li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7rem;
    list-style: disc;
    margin-top: 12px;
}

.popular-left button{
    margin-top: 20px;
    transition: 0.3s;
}

.popular-left button:hover{
    background-color: #FFF;
    color: #FF5400;
    border: 2px solid #FF5400;
    transition: 0.3s;
}

.popular-right{
    text-align: right;
}

/* popular-tour section css end*/


/* destination section css start*/

.destination{
    width: 100%;
    padding: 50px 0px;
}

.destination-content{

}

.destination-title{
    text-align: center;
}

.destination-title h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination-title p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 18px 0px;
}



.gallery-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
}

.span1{
    background-image: url(../images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 300px;
}


.gallery-2{

}

.gallery-3{

}

/* destination section css end*/

/* quality section css start*/
/* quality section css end*/

/* Newsletter section css start*/

.newsletter{
    width: 100%;
    padding: 100px 0px;
}

.nl-content{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.nl-left{
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 46px;
}

.nl-left h3{   
    color: #131318;  
    font-size: 24px;
    font-weight: 800;
}

.nl-left p{ 
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 12px 0px;
}

.line1{
    display: inline-block;
    height: 2px;
    width: 393px;
    background-color: rgba(19, 19, 24, 0.10);
    margin: 06px 0px;
}

.nl-left form{

}

.nl-left form input{ 
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 52px;
    width: 85%;
    margin: 20px 0px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #131318;
    border: none;
}

.nl-left form input:focus{
    outline-color: rgba(19, 19, 24, 0.05);
}

.nl-left form button{
    width: 93%;
    height: 66px;
    transition: 0.3s;
}


.nl-left form button:hover{
    background-color: #fff;
    color: #FF5400;
    border: 1px solid #FF5400;
    transition: 0,3s;
    cursor: pointer;
}

.nl-right{
    position: relative;
}

.nl-right img{
    max-width: 100%;
    height: 500px;
}

.nl-right button{
    position: absolute;
    bottom: 61px;
    right: 7px;
    font-size: 32px;
    color: #fff;
    font-weight: 800;
    transform: rotate(336deg);
    padding: 26px;
    transition: 0.3s;
}

.nl-right button:hover{
    background-color: #fff;
    color: #FF5400;
    border: 1px solid #FF5400;
    transition: 0,3s;
    cursor: pointer;
}

.nl-right button:hover span{
    color: #FF5400;
}

.nl-right button span{ 
    display: block;   
    color: #FFF;  
    text-align: center;  
    font-size: 24px;
    font-weight: 400;
}


/* Newsletter section css end*/

/* Video section css start*/

.video{

}

.v-content{

}

.v-left{

}

.v-left h2{
    
}

.v-left p{
    
}

.v-left ol{
    
}

.v-left ol li{
    
}

.v-left button{
    
}

.v-right video{
    
}
/* Video section css end*/

/* Main section css end*/



/* Footer section css start */

footer{
    width: 100%;
    padding: 150px 0px;
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-content{
    text-align: center;
}

.footer-logo{display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.footer-logo h3{
    color: var(--Dark-01, #131318);
    font-weight: 800;
    font-size: 32px;
    margin-left: 12px;
}

.footer-logo h3 span{
    color: #FF5400;
}

.footer-content p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 16px 0px;
}

.social-icons a i{
    font-size: 24px;
    color: #131318;
    margin: 16px;
}

.line2{
    display: inline-block;
    height: 2px;
    width: 872px;
    text-align: center;
    background-color: rgba(19, 19, 24, 0.05);
    margin: 20px 0px 40px;
}

.rights{
    color: #131318;
    font-family: 'Inter', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
    display: block;
}
/* Footer section css end */